<div class="large-avatar">
  <img src="{{avatar_url}}">
</div>
<div class="name">{{name}}</div>
<div class="user-name2">{{login}}</div>
<div class="city">
  <div class="octicon octicon-location"></div>
  <div class="city-name">{{location}}</div>
</div>
<div class="date">
  <div class="octicon octicon-clock"></div>
  <div class="date-joined">Joined on {{formattedDate}}</div>
</div>

<div class="stats">
  <div class="followers">
    <p class="value">{{followers}}</p>
    <p class="text">Follower</p>
  </div>
  <div class="starred">
    <p class="value">{{myStars}}</p>
    <p class="text">Starred</p>
  </div>
  <div class="following">
    <p class="value">{{following}}</p>
    <p class="text">Following</p>
  </div>
</div>

{{!-- <div class="organizations">
  <div class="org-title">Organizations</div>
  <div class="org-icon"><img src={{avatar_url}}></div>
</div> --}}